:root {
  /* Font */
  --font-size-base: 16px; /* Define a base font size (default: 16px) */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --text-color: rgb(255, 255, 255);

  /* Borders */
  --border-radius-large: 8px;
  --border-radius-small: 4px;

  /* Spacings */
  --spacing-unit: 1rem; /* Define a base spacing unit using rem */
  --spacing-small: 0.5rem; /* 8px */
  --spacing-medium: 1rem; /* 16px */
  --spacing-large: 2rem; /* 32px */
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(9, 27, 59);
  margin: 0;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0;
}
